/* 전체 레이아웃 */

.container {
    width: 1200px;
    margin: 0 auto;
}



/* 
    헤더01 float
    float으로 인해 영역 깨짐 현상 발생(하이트 값을 인식 못함)
    1. 깨지는 영역에 clear:both;설정
    2. 부모 영역에 overflow: hidden; 설정
    3. 가상의 영역(clearfix) 속성을 설정
*/

/* #header {
    border-bottom: 1px solid #000;
    display: flex;
    padding: 10px;
    min-width: 1400px;
    white-space: nowrap;
}
#header .logo {
    width: 20%;
    padding: 15px 18px;
}
#header .logo a{
    font-size: 30px;
}
#header .logo a em{
    font-size: 18px;
    font-weight: 300;
}
#header .menu {
    width: 60%;
    text-align: center;
}
#header .menu li{
    display: inline-block;
    padding: 22px 30px 18px 30px;
}
#header .member {
    width: 20%;
    text-align: right;
    margin: 23px 18px;
}
#header .member a{
    border: 1px solid #000;
    border-radius: 50px;
    padding: 8px 22px;
} */



/* 헤더 2 */
/* 
#header {
    border-bottom: 1px solid #000;
    justify-content: space-around;
    display: flex;
    padding: 10px;
    min-width: 1200px;
    white-space: nowrap;
}
#header .logo{
    flex: 0 0 20%;
    padding: 15px 18px;
}
#header .logo a{
    font-size: 30px;
}
#header .logo a em{
    font-size: 18px;
    font-weight: 300;
}
#header .menu{
    flex: 0 0 60%;
}
#header .menu li{
    display: inline-block;
}
#header .menu li a{
    padding: 20px 30px;
    display: inline-block;
}
#header .member{
    flex: 0 0 20%;
    text-align: right;
    padding: 10px 18px;
}
#header .member a{
    display: inline-block;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 8px 22px;
} */

/* 헤더 03 grid를 사용하는 경우 */

#header {
    border-bottom: 1px solid #000;
    display: grid;
    padding: 10px;
    min-width: 1200px;
    white-space: nowrap;
    grid-template-columns: 20% 60% 20%;
}
#header .logo{
    padding: 15px 18px;
}
#header .logo a{
    font-size: 30px;
}
#header .logo a em{
    font-size: 18px;
    font-weight: 300;
}
#header .menu {
    text-align: center;
}
#header .menu li{
    display: inline-block;
}
#header .menu li a{
    padding: 20px 30px;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}

#header .menu li a:hover{
    background: #f5f5f5;
    border-radius: 10px;
}

#header .member{
    text-align: right;
    padding: 10px 18px;
}
#header .member a{
    display: inline-block;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 8px 22px;
}




/* 배너 */

.imgType {
    width: 100%;
    height: 800px;
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    background-image: url(../img/bg01.jpg);
    */
}

/* 
    웹 사이트에서 이미지를 표현하는 방법
    1. HTML태그 : img 태그: 의미가 있는 이미지 (alt로 표현)
    2. CSS 속성 : background속성 : 의미가 없는 이미지 -> ir효과
    3. 이미지 스프라이트 : background와 ir효과를 통해서 이미지 표현
*/

.container {
    
}

/* 이미지/텍스트 유형 */

 /* 유형1 */
 .itType01 {
    padding: 150px 0;
    overflow: hidden;
 }
 .itType01 .text {
    float: left;
    width: 386.66px;
    height: 530px;
    margin-right: 20px;
    background-color: #ccc;
 }
.itType01 .img1 {
    float: left;
    width: 386.66px;
    height: 530px;
    margin-right: 20px;
    background-color: #ccc;
    background-image: url(../img/img_text_bg1-min.jpg);
 }
 .itType01 .img2 {
     float: left;
     width: 386.66px;
     height: 530px;
     background-color: #ccc;
     background-image: url(../img/img_text_bg2-min.jpg);
 }

 @media(-webkit-min-dvice-pixel-ratio: 2){
     .itType01 .img1 {
         background-image: url(../img/img_text_bg1@2x.jpg);
     }
 }
 @media(-webkit-min-dvice-pixel-ratio: 2){
    .itType01 .img1 {
        background-image: url(../img/img_text_bg1@2x.jpg);
    }
 }
 
.itType02 {
    display:flex;
    min-width: 1200px;
}

.itType02 .left{  
    width:45%;
    height: 535px;
    background: url(../img/img_text_bg0-min.jpg) no-repeat center center;
    background-size: cover;
    margin-right: 50px;
}

.itType02 .right{  
    width:55%;
    height: 535px;

}

.itType02 .right .o{  
    padding-top: 43px;
    font-weight: 400;
}
.itType02 .right .t{  
    padding-top: 15px;
    padding-bottom: 38px;
    font-size: 50px;   
    font-weight: bold;
}
.itType02 .right .c{  
    height: 170px;
    width: 716px;
    font-size: 24px;   
    font-weight: 400;
    line-height: 1.5;
}

 /* .itType01 .img1 {
    float: left;
    width: 386.66px;
    height: 530px;
    margin-right: 20px;
    background-color: #ccc;
    background-image: url(../img/img_text_bg1-min.jpg);
 }
 .itType01 .img2 {
     float: left;
     width: 386.66px;
     height: 530px;
     background-color: #ccc;
     background-image: url(../img/img_text_bg2-min.jpg);
 }

 @media(-webkit-min-dvice-pixel-ratio: 2){
     .itType01 .img1 {
         background-image: url(../img/img_text_bg1@2x.jpg);
     }
 }
 @media(-webkit-min-dvice-pixel-ratio: 2){
    .itType01 .img1 {
        background-image: url(../img/img_text_bg1@2x.jpg);
    }
 } */
 