/* 전체 레이아웃 */

.container {
    width: 1200px;
    margin: 0 auto;
}



/* 
    헤더01 float
    float으로 인해 영역 깨짐 현상 발생(하이트 값을 인식 못함)
    1. 깨지는 영역에 clear:both;설정
    2. 부모 영역에 overflow: hidden; 설정
    3. 가상의 영역(clearfix) 속성을 설정
*/

/* #header {
    border-bottom: 1px solid #000;
    display: flex;
    padding: 10px;
    min-width: 1400px;
    white-space: nowrap;
}
#header .logo {
    width: 20%;
    padding: 15px 18px;
}
#header .logo a{
    font-size: 30px;
}
#header .logo a em{
    font-size: 18px;
    font-weight: 300;
}
#header .menu {
    width: 60%;
    text-align: center;
}
#header .menu li{
    display: inline-block;
    padding: 22px 30px 18px 30px;
}
#header .member {
    width: 20%;
    text-align: right;
    margin: 23px 18px;
}
#header .member a{
    border: 1px solid #000;
    border-radius: 50px;
    padding: 8px 22px;
} */



/* 헤더 2 */
/* 
#header {
    border-bottom: 1px solid #000;
    justify-content: space-around;
    display: flex;
    padding: 10px;
    min-width: 1200px;
    white-space: nowrap;
}
#header .logo{
    flex: 0 0 20%;
    padding: 15px 18px;
}
#header .logo a{
    font-size: 30px;
}
#header .logo a em{
    font-size: 18px;
    font-weight: 300;
}
#header .menu{
    flex: 0 0 60%;
}
#header .menu li{
    display: inline-block;
}
#header .menu li a{
    padding: 20px 30px;
    display: inline-block;
}
#header .member{
    flex: 0 0 20%;
    text-align: right;
    padding: 10px 18px;
}
#header .member a{
    display: inline-block;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 8px 22px;
} */

/* 헤더 03 grid를 사용하는 경우 */

#header {
    border-bottom: 1px solid #000;
    display: grid;
    padding: 10px;
    min-width: 1200px;
    white-space: nowrap;
    grid-template-columns: 20% 60% 20%;
}
#header .logo{
    padding: 15px 18px;
}
#header .logo a{
    font-size: 30px;
}
#header .logo a em{
    font-size: 18px;
    font-weight: 300;
}
#header .menu {
    text-align: center;
}
#header .menu li{
    display: inline-block;
}
#header .menu li a{
    padding: 20px 30px;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}

#header .menu li a:hover{
    background: #f5f5f5;
    border-radius: 10px;
}

#header .member{
    text-align: right;
    padding: 10px 18px;
}
#header .member a{
    display: inline-block;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 8px 22px;
}




/* 배너 */

.img_type {
    width: 100%;
    height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    background-image: url(../img/img_text_bg0-min.jpg);
}

/* 
    웹 사이트에서 이미지를 표현하는 방법
    1. HTML태그 : img 태그: 의미가 있는 이미지 (alt로 표현)
    2. CSS 속성 : background속성 : 의미가 없는 이미지 -> ir효과
    3. 이미지 스프라이트 : background와 ir효과를 통해서 이미지 표현
*/

/* 이미지/텍스트 유형 */

 /* 유형1 */
 
.itType01 {
    padding: 150px 0;
    overflow: hidden;
}

.itType01 .text {
    float: left;
    width: 386.66px;
    height: 530px;
    margin-right: 20px;
}

.itType01 .text .text_title {
    font-family: 'GmarketSans';
    font-size: 50px;
    font-weight: 500;
    margin: 70px 0 45px -4px;
}

.itType01 .text .text_desc {
    font-family: 'NEXONLv1Gothic';
    font-weight: 300;
    font-size: 18px;
    color: #888;
    margin-bottom: 56px;
}

.itType01 .text .text_more {
    font-family: 'NEXONLv1Gothic';
    font-size: 18px;
}

.itType01 .text .text_more a {
    color: #af3029;
}

.itType01 .text .text_more svg {
    vertical-align: 2px;
}

.itType01 .img1 {
    float: left;
    width: 386.66px;
    height: 530px;
    margin-right: 20px;
    background-color: #999;
    background-image: url(../img/img_text_bg1-min.jpg);
}

.itType01 .img2 {
    float: left;
    width: 386.66px;
    height: 530px;
    background-color: #ccc;
    background-image: url(../img/img_text_bg2-min.jpg);
}

@media (-webkit-min-device-pixel-ratio: 1.5) {
    .itType01 .img1 {
        background-image: url(../img/img_text_bg1@2x-min.jpg);
    }

    .itType01 .img2 {
        background-image: url(../img/img_text_bg2@2x-min.jpg);
    }
}

@media (-webkit-min-device-pixel-ratio: 2.5) {
    .itType01 .img1 {
        background-image: url(../img/img_text_bg1@3x-min.jpg);
    }

    .itType01 .img2 {
        background-image: url(../img/img_text_bg2@3x-min.jpg);
    }
}

/* imgText_type02 */
.imgText_type02 {
    background: #F5F5F5;
    overflow: hidden;
    padding: 150px 0;
    min-width: 1200px;
}
.imgText_type02 .left {
    float: left;
    width: 48.5%;
    height: 535px;
    background: url(../img/img_text_bg3-min.jpg) no-repeat center center;
    background-size: cover;
    margin-right: 1.5%;
}
.imgText_type02 .right {
    font-family: 'GmarketSans';
    float: left;
    width: 48.5%;
    height: 535px;
    margin-left: 1.5%;
}
.imgText_type02 .right .sub {
    font-size: 16px;
    color: #7C7C7C;
    margin-top: 43px;
    margin-bottom: 10px;
    display: inline-block;
    /* text-decoration: underline;
    text-underline-position: under; */
    border-bottom: 1px solid #7C7C7C;
}
.imgText_type02 .right .title {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 38px;
    white-space: nowrap;
}
.imgText_type02 .right .desc {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 38px;
    white-space: nowrap;
}
.imgText_type02 .right .view {
    font-size: 16px;
    font-weight: 300;
    background: #000;
    padding: 9px 46px;
    display: inline-block;
    color: #fff;
    font-weight: 500;
}


.itType03 {
    overflow: hidden;
    padding: 150px 0;
    min-width: 1200px;
}

.itType03 .title {
    font-family: 'NEXONLv1Gothic';
    font-size: 42px;
    font-weight: 1000;
}
.itType03 .imgBox {
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 108px 0px 0px 0;
}
.itType03 .imgBox .p1{
    margin-right: 50px;
    height: 466px;
    width: 367px;
    background: url(../img/img_text_bg2-min.jpg) no-repeat center center;
    
}
.itType03 .imgBox .p2{
    margin-right: 50px;
    height: 466px;
    width: 367px;
    background: url(../img/img_text_bg1-min.jpg) no-repeat center center;
}
.itType03 .imgBox .p3{
    height: 466px;
    width: 367px;
    background: url(../img/img_text_bg3-min.jpg) no-repeat center center;
}

.itType03 .textBox {
    width: 100%;
    display: flex;
    padding: 31px 0px 0px 0;
}
.itType03 .textBox em{
    font-size: 24px;
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
}
.itType03 .textBox .t1{
    margin-right: 50px;
    height: 65px;
    width: 367px;
}
.itType03 .textBox .t2{
    margin-right: 50px;
    height: 65px;
    width: 367px;
}
.itType03 .textBox .t3{
    height: 65px;
    width: 367px;
}

/* 이미지 유형 01(img_type01) */
.img_type01 {
    padding: 150px 0;
    height: 500px;
    margin-bottom: 500px;
    
}
.img_type01 h3{
    font-size: 50px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 30px;
}
.img_type01 em{
    font-size: 20px;
    margin-left: 10px;
    vertical-align: -4px;
    color: #777;
}
.img_type01 .img-wrap {
    display: flex;
    justify-content: space-between;
}
.img_type01 .img-wrap .right {
    width: 590px;
    height: 360px;
    background: url(../img/img01.png);
    position: relative;
    background-color: #333;
}
.img_type01 .img-wrap .left {
    width: 590px;
    height: 360px;
    background: url(../img/img02.png);
    position: relative;
}
.img_type01 .img-wrap .right-contents {
    position: absolute;
    width: 72%;
    left: 30px;
    bottom: 30px;
    background-color: rgba(20,20,20,0.3);
    padding: 20px;
}
.img_type01 .img-wrap .left-contents {
    position: absolute;
    left: 30px;
    padding-right: 200px;
    bottom: 30px;
}
.img_type01 .img-wrap .right a {
    background: none !important;
    padding: 0px !important;
    text-decoration: underline;
}
.img_type01 .img-wrap h4 {
    font-size: 28px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
}
.img_type01 .img-wrap p {
    font-size: 14px;
    color: #fff;
    line-height: 1.5;
    margin-bottom: 15px;
}
.img_type01 .img-wrap a {
    background: #9a481d;
    padding: 10px 20px;
    color: #fff;
    display: inline-block;
}
/* 이미지 유형 02(img_type02) */
.img_type02 {
    padding: 150px 0;
}