    /* 전체 레이아웃 */
    #wrap {}

    /* 
        헤더01 float
        float으로 인해 영역 깨짐 현상 발생(하이트 값을 인식 못함)
        1. 깨지는 영역에 clear:both;설정
        2. 부모 영역에 overflow: hidden; 설정
        3. 가상의 영역(clearfix) 속성을 설정
    */

    #header {
        border-bottom: 1px solid #000;
    }
    #header .logo {
        float: left;
        width: 20%;
    }
    #header .logo a{
        font-size: 30px;
        display: inline-block;
        padding: 10px;
        margin: 15px 18px
    }
    #header .logo a em{
        font-size: 18px;
        font-weight: 300;
    }
    #header .menu {
        float: left;
        width: 60%;
        text-align: center;
    }
    #header .menu li{
        display: inline;
        vertical-align: middle;
    }
    #header .menu li a{
        display: inline-block;
        padding: 31px 52px;
    }
    #header .member {
        float: left;
        width: 20%;
        text-align: right;
        padding: 13px 18px;
    }
    #header .member a{
        display: inline-block;
        border: 1px solid #000;
        border-radius: 50px;
        font-size: 18px;
        margin: 10px 5px;
        padding: 9px 22px 7px 22px;
    }
