    /* 전체 레이아웃 */
    #wrap {}





    /* 
        헤더01 float
        float으로 인해 영역 깨짐 현상 발생(하이트 값을 인식 못함)
        1. 깨지는 영역에 clear:both;설정
        2. 부모 영역에 overflow: hidden; 설정
        3. 가상의 영역(clearfix) 속성을 설정
    */


    #header {
        border-bottom: 1px solid #ccc;
        padding: 10px;
        min-width: 1200px;
        white-space: nowrap;
    }
    #header .logo {
        float: left;
        width: 20%;
    }
    #header .logo a {
        font-size: 30px;
        padding: 12px 18px;
        display: inline-block;
    }
    #header .logo a em{
        font-size: 18px;
        font-weight: 300;
    }
    #header .menu {
        float: left;
        width: 60%;
        text-align: center;
    }
    #header .menu li {
        display: inline;
    }
    #header .menu li a {
        display: inline-block;
        padding: 20px 30px;
        margin: 0 10px;
    }
    #header .member {
        float: right;
        width: 20%;
        text-align: right;
        padding: 10px 18px;
    }
    #header .member a{
        display: inline-block;
        border: 1px solid #000;
        border-radius: 50px;
        padding: 8px 22px;
        font-size: 16px;
    }