@font-face {
    font-family: 'NexonLv1Gothic';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicLight.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicLight.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicLight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicLight.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'NexonLv1Gothic';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicRegular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicRegular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicRegular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicRegular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicRegular.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'NexonLv1Gothic';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicBold.ttf') format("truetype");
    font-display: swap;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    font-family: 'NexonLv1Gothic';
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

/* top */
.top {
    position: fixed;
    right: 20px; 
    bottom: 20px;
}

.top a {
    width: 60px; 
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    background: #000;
    color: #fff;
    display: block;
}

/* header */
#header {
    padding: 40px;
    border-bottom: 1px dashed #cdcdcd;
}

#header h1 {
    margin-bottom: 30px;
    font-size: 40px;
}

#header nav ul li {
    display: inline;
}

#header nav ul li a {
    font-size: 20px;
    border: 1px solid #000;
    padding: 12px 30px 10px 30px;
    border-radius: 30px;
    display: inline-block;
    margin-bottom: 10px;
}

#header nav ul li.active a {
    background: #000;
    color: #fff;
}

@media (max-width: 800px){
    #header {
        padding: 20px;
    }

    #header h1 {
        margin-bottom: 15px;
        font-size: 28px;
    }

    #header nav ul li a {
        font-size: 16px;
        padding: 8px 15px 6px 15px;
        margin-bottom: 5px;
    }
}

/* main */
#main {
    padding: 40px;
}

/* list */
.list {
    padding-bottom: 40px;
    border-bottom: 1px dotted #cdcdcd;
}

.list ul li {
    font-size: 18px;
    line-height: 1.8;
}

@media (max-width: 800px){ 
    #main {
        padding: 20px;
    }

    .list {
        padding-bottom: 20px;
    }

    .list ul li {
        font-size: 14px;
        line-height: 1.6;
    }
}

/* note */
.note {
    padding: 40px 0;
    border-bottom: 1px dotted #cdcdcd;
}

.note a {
    font-size: 16px;
    background: #000;
    color: #fff;
    border-radius: 20px;
    padding: 7px 15px 5px 15px;
    display: inline-block;
    margin-bottom: 5px;
}

.note a:hover {
    text-decoration: underline;
}
@media (max-width: 800px){ 
    .note {
        padding: 20px 0;
    }

    .note a {
        font-size: 14px;
    }
}

/* script */
.script {
    padding: 40px 0;
}

.script .sample {
    margin-bottom: 80px;
}

.script .sample h3 {
    background: #f2f2f2;
    font-size: 16px;
    padding: 15px 20px 10px 20px;
    border-radius: 5px 5px 0 0;
    border: 1px solid #e6e6e6;
    font-weight: 500;
}

.script .sample .code pre {
    margin: 0 !important;
    border-radius: 0 0 5px 5px;
}

@media (max-width: 800px){ 
    .script {
        padding: 20px 0;
    }

    .script .sample {
        margin-bottom: 40px;
    }

    .script .sample h3 {
        font-size: 14px;
        padding: 10px 15px 8px 15px;
    }

    .script .sample .code pre {
        font-size: 14px;
    }
}

/* doc */
.doc {
    font-size: 18px;
    line-height: 1.8;
    padding-bottom: 300px;
}

.doc h2 {
    font-weight: 500;
    margin: 40px 0 5px;
}

.doc h3 {
    font-weight: 800;
    margin: 20px 0 5px;
}

.doc li {
    list-style: disc;
    margin-left: 20px;
}

.doc p {
    margin-bottom: 5px;
}

.doc .line {
    border: 1px solid #000;
    padding: 20px 20px 15px 20px;
    border-radius: 10px;
    background: #97f0ad;
}

.doc .code {
    border: 1px solid #cdcdcd;
    padding: 20px 20px 15px 20px;
    border-radius: 5px;
    background: #d0f3e3;
}

.doc strong {
    background: #6adab8;
    font-weight: normal;
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
    display: inline-block;
}


/* result */
.result h4 {
    background: #f2f2f2;
    margin-top: 10px;
    padding: 10px 20px;
    font-weight: normal;
    border-radius: 5px 0px;
    font-size: 16px;
}

.result div {
    background: #272822;
    padding: 20px;
    color: white;
    border-radius: 0 5px;
    font-size: 16px;
    line-height: 1.4;   

}

@media (max-width: 800px) {
    .result h4 {
        font-size: 14px;
        padding: 10px 15px;
    }
    .result div {
        font-size: 14px;
        padding: 15px;
    }
}


/* 대입 연산자 예시 table용 */
.ext {
    padding-left: 20px;
}

.ext tr td {
    padding: 0px 3px !important;
    border: 1px solid #000;
}

/* table */
.doc table {
    border-collapse:collapse;
    border-spacing: 1px;
    text-align: center;
    line-height: 1.5;
    margin: 0px 10px 20px 0px;
}
.doc table th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #000;
    background: #ccf1e2 ;
    border: 1px solid #ccc;
}
.doc table td {
    padding: 10px;
    vertical-align: top;
    border: 1px solid #ccc;
    background: #fff;
}