* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NexonLv1Gothic';
}

a {
    text-decoration: none;
    color: #fff;
    transition: all 0.2s;
}

li {
    list-style: none;
}

img {
    width: 100%;
    vertical-align: top;
    /*이미지 여백 제거*/
}

body {
    color: #fff;
}


.window {
    min-width: 660px;
    min-height: 520px;
    background-color: #c7c7c7;
    padding: 4px;
    border-left: 2px solid #FCFCFC;
    border-top: 2px solid #FCFCFC;
    border-right: 2px solid #2A2A2A;
    border-bottom: 2px solid #2A2A2A;
}

/* info */
.title {
    position: absolute;
    left: 20px;
    top: 20px;
}

.title h1 {
    font-size: 34px;
    border-bottom: 1px dashed #fff;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.title p {
    font-size: 16px;
}

.number {
    position: absolute;
    right: 20px;
    top: 20px;
}

.number li {
    display: inline;
}

.number li a {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px dashed #fff;
    border-radius: 20px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    margin: 1px 1px 1px 1px;
}

.number li.active a {
    background: #fff;
    color: #000;
}

.source {
    position: absolute;
    right: 20px;
    bottom: 60px;
}

.source button {
    border: 1px solid rgb(255, 255, 255);
    background: #413636cc;
    color: #fff;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 50px;
    transition: all 0.2s;
    cursor: pointer;
    position: relative;
    bottom: -200px;
}

.source button:hover {
    background: #fff;
    color: #000;
}

/* modal */
#modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0, 0.4);
    z-index: 1000;
    transform: scale(0);
}

#modal.show {
    animation: foldOut 1s ease forwards;
}

#modal.show.hide {
    animation: foldIn 1s ease backwards;
}

@keyframes foldOut {
    0% {
        transform: scaleX(0) scaleY(0.005)
    }

    50% {
        transform: scaleX(1) scaleY(0.005)
    }

    100% {
        transform: scaleX(1) scaleY(1)
    }
}

@keyframes foldIn {
    0% {
        transform: scaleX(1) scaleY(1)
    }

    50% {
        transform: scaleX(1) scaleY(0.005)
    }

    100% {
        transform: scaleX(0) scaleY(0.005)
    }
}

.modal-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    transform: scale(0)
}

#modal.show .modal-wrap {
    animation: zoomOut 0.5s 0.8s ease forwards;
}

#modal.show.hide .modal-wrap {
    animation: zoomIn 0.5s ease forwards;
}

@keyframes zoomOut {
    0% {
        transform: scale(0)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(1)
    }

    100% {
        transform: scale(0)
    }
}

.modal-close {
    margin-top: 10px;
    margin-left: 300px;
}

.modal-cont {
    opacity: 1;
    position: relative;
}


.code-view {
    width: 60vw;
    height: 60vh;
    background: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    overflow: scroll;
    overflow-x: hidden;
}

.code-view::-webkit-scrollbar {
    width: 5px;
    /*스크롤바의 너비*/
}

.code-view::-webkit-scrollbar-thumb {
    background-color: #e2e8f0;
    border-radius: 5px;
    /*스크롤바의 색상*/
}

.code-view::-webkit-scrollbar-track {
    background-color: #2b2b2b;
    /*스크롤바 트랙 색상*/
}

.code-view::-webkit-scrollbar-corner {
    background-color: #2b2b2b;
}


.menu-bar span.active {
    color: rgb(255, 255, 255);
    background: #5a5a5a;
    font-weight: 600;
}
.active {
    color: #000;
    background: #bec8ee;
    font-weight: 600;
}

.view-cont {
    background-color: #2b2b2b;
    height: 100%;
    overflow: scroll;
    -ms-overflow-style: none;
}

/* 스크롤바 없애기 */
::-webkit-scrollbar {
    display: none;
}

.view-cont pre code.hljs {
    line-height: 1.6;
}

.view-cont>div {
    display: none;
}

.view-cont>div:first-child {
    display: block;
}

/* 윈도우98 */

@import url("https://fonts.googleapis.com/css?family=Inconsolata");

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.title-bar {
    background-color: #000080;
    padding: 4px;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.title-bar>.minimize,
.title-bar>.maximize,
.title-bar>.close {
    width: 26px;
    height: 22px;
    background-color: #c7c7c7;
    margin-left: 4px;
    border-left: 2px solid #FCFCFC;
    border-top: 2px solid #FCFCFC;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.title-bar>.minimize:hover,
.title-bar>.maximize:hover,
.title-bar>.close:hover {
    background-color: #bababa;
    border-left: 2px solid #2A2A2A;
    border-top: 2px solid #2A2A2A;
    border-right: 2px solid #FCFCFC;
    border-bottom: 2px solid #FCFCFC;
}

.title-bar>.minimize {
    align-items: flex-end;
}

.title-bar>.minimize>.symbol {
    width: 60%;
    height: 3px;
    background-color: #000000;
    margin-bottom: 2px;
}

.title-bar>.maximize>.symbol {
    width: 70%;
    height: 80%;
    border: 2px solid #000000;
    border-top-width: 4px;
}

.title-bar>.close>.symbol {
    width: 70%;
    height: 3px;
    background-color: #000000;
    transform: rotate(45deg);
}

.title-bar>.close>.symbol::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #000000;
    transform: rotate(90deg);
}

.menu-bar>span {
    padding: 8px;
    display: inline-block;
    cursor: pointer;
}

.menu-bar>span::first-letter {
    text-decoration: underline;
}

.menu-bar>span:hover {
    background-color: #bababa;
}

.content-container {
    border-left: 2px solid #2A2A2A;
    border-top: 2px solid #2A2A2A;
    border-right: 2px solid #FCFCFC;
    border-bottom: 2px solid #FCFCFC;
}

.content-container>.content {
    display: flex;
    height: 560px;
}

.content-container>.content>.main,
.content-container>.content>.scroll-left {
    height: 100%;
}

.content-container>.content>.main {
    width: calc(100% - 26px);
}

.content-container>.content>.scroll {
    width: 26px;
}

.scroll {
    background-color: #D7D7D7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.scroll>.progress {
    width: 24px;
    height: 70%;
    cursor: pointer;
    border-left: 2px solid #FCFCFC;
    border-top: 2px solid #FCFCFC;
    border-right: 2px solid #2A2A2A;
    border-bottom: 2px solid #2A2A2A;
    background-color: #c7c7c7;
}

.scroll>.progress:hover {
    background-color: #bababa;
}

.scroll>.start,
.scroll>.end {
    width: 24px;
    height: 22px;
    position: relative;
    border-left: 2px solid #FCFCFC;
    border-top: 2px solid #FCFCFC;
    border-right: 2px solid #2A2A2A;
    border-bottom: 2px solid #2A2A2A;
    background-color: #c7c7c7;
}

.scroll>.start:hover,
.scroll>.end:hover {
    background-color: #bababa;
    border-left: 2px solid #2A2A2A;
    border-top: 2px solid #2A2A2A;
    border-right: 2px solid #FCFCFC;
    border-bottom: 2px solid #FCFCFC;
}

.scroll>.start::after,
.scroll>.end::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: 6px;
    left: 4px;
    border-top: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #000000;
}

.scroll>.end::after {
    transform: rotate(180deg);
}

.scroll.-row {
    flex-direction: row;
}

.scroll.-row>.progress {
    width: 30%;
    height: 24px;
}

.scroll.-row>.start::after {
    transform: rotate(-90deg);
}

.scroll.-row>.end::after {
    transform: rotate(90deg);
}