@font-face {
    font-family: 'GmarketSans';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'GmarketSans';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'GmarketSans';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf') format("truetype");
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    font-family: "GmarketSans";
}

#header {
    border-bottom: 1px solid #000;
    justify-content: space-between;
    display : flex;
    align-items: flex-end;
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    background-color: #f5f5f5;
}


#header h1 {
    font-weight: 500;
    padding: 20px 10px 10px 20px;
}

strong {
    font-weight: 300;
    padding: 10px 20px 10px 10px;
}

#contents {
    width: 1200px;
    margin:  0 auto;
}

#contents h2 {
    font-size: 80px;
    text-align: center;
    padding: 12% 5% 5% 5% ;
}

#contents h2 em {
    font-style: normal;
    color: #00db72
}

#contents .refer {
    background: #fff;
    padding: 60px;
    border: 1px solid #000;
}

#contents .refer table {
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
}

#contents .refer table th {
    border: 1px solid #000;
    padding: 15px;
    background: #f5f5f5;
    font-weight: 500;
}

#contents .refer table td {
    border: 1px solid #000;
    padding: 15px;
    font-weight: 300;
}

#contents .refer table tbody tr:hover {
    background: #00db72;
    color: white;
    cursor: grab;
}   

#contents .refer table caption{
    text-indent: -9999px;
}

#contents .menu {
    margin: 0px 16px 7px 0px;
}

#contents .menu a {
    font-size: 16px;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 5px;
}

#contents .menu ul li {
    list-style: none;
    display: inline;
}

#contents .menu ul li a {
    text-decoration: none;
    background: #00db72;
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
}   

@media (max-width: 800px) {
    #contents {
        width: 100%;
    }

    #header h1 {
        font-size: 18px;
        padding: 20px 10px 5px 16px;
    }

    #header strong {
        font-size: 14px;
        padding: 20px 10px 5px 16px;
    }
    
    #contents h2 {
        font-size: 40px;
        padding: 80px 0px 40px 0px;
    }
    
    #contents .refer {
        padding: 0 16px 16px 16px;
        background: transparent;
        border: 0;
        font-size: 14px;
    }

    #contents .refer table {
        width: 100%;
    }

    #contents .refer table th {
        padding: 10px;
        background: #d7d7d7;
    }

    #contents .refer table td {
        padding: 10px;
        line-height: 1.4;
    }

    #contents .menu {
        margin: 16px 16px 0px 16px;
    }
}