@font-face {
    font-family: 'GmarketSans';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'GmarketSans';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'GmarketSans';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf') format("truetype");
    font-display: swap;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'GmarketSans';
    overflow-x: hidden;
}

a {
    color: #000;
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    background: #F5F5F5;
    
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #F5F5F5;
}

#header h1 {
    font-weight: 500;
    padding: 20px 10px 10px 20px;
}

#header h1 a {
    text-decoration: none;
    color: #000;
}

#header strong {
    font-weight: 300;
    padding: 10px 20px 10px 10px;
}

#contents {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
}

#contents h2 {
    font-size: 80px;
    text-align: center;
    padding: 12% 5% 5% 5%;
}

#contents h2 em {
    font-style: normal;
    color: #00DB72;
}

#contents h2 a {
    color: #000;
    text-decoration: none;
}

/* menu */
.menu {
    margin-bottom: 5px;
}

.menu ul li {
    list-style: none;
    display: inline-block;
    margin-bottom: 5px;
}

.menu ul li a {
    text-decoration: none;
    background: #00DB72;
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
}

.menu ul li.active a {
    background: #000;
    color: #00DB72;
}

/* refer */
.refer {
    background: #fff;
    padding: 40px;
    border: 1px solid #000;
    /* overflow-x: auto; */
}

.refer .title li {
    display: inline;
}

.refer .title li a {
    background-color: #00db72;
    color: #fff;
    padding: 6px 30px;
    display: inline-block;
    margin-bottom: 5px;
}

.refer .title li.active a {
    background-color: #000;
    color: #fff;
}

.refer .subTitle {
    margin-top: 10px;
}

.refer .subTitle li{
    display: inline-block;
}
.refer .subTitle li a {
    display: inline-block;
    margin-right: 10px;
}
.refer .subTitle li.active a{
    border-bottom: 2px solid #000;
}

.refer .table {
    margin-top: 40px;
    overflow-x: auto;
}

.refer .table h3{
    font-weight: normal;
    margin-bottom: 5px;
}

.refer .table table {
    width: 100%;
    border: 1px solid #aaa;
    border-collapse: collapse;
    border-spacing: 0px;
    min-width: 800px;
}

.refer .table table th {
    border: 1px solid #aaa;
    padding: 15px;
    background: #F5F5F5;
    font-weight: 500;
}

.refer .table table th a {
    color: #00DB72;
}

.refer .table table td {
    border: 1px solid #aaa;
    padding: 15px;
    font-weight: 300;
    line-height: 1.4;
}

/* doc */
.doc {
    font-size: 18px;
    line-height: 1.8;
}

.doc h3 {
    font-size: 24px;
    font-weight: 500;
    margin: 40px 0 5px;
}

.doc h3:first-child {
    margin-top: 0;
}

.doc h4 {
    font-size: 18px;
    font-weight: 700;
    margin: 20px 0 5px;
}

.doc li {
    list-style: disc;
    margin-left: 20px;
}

.doc p {
    margin-bottom: 5px;
}

.doc .line {
    border: 1px solid #CDCDCD;
    padding: 20px 20px 15px 20px;
    border-radius: 10px;
    overflow-x: auto;
}

.doc .code {
    padding: 20px 20px 15px 20px;
    border-radius: 10px;
    background: #DEDEDE;
    margin-bottom: 10px;
    overflow-x: auto;
}

.doc strong {
    background: #00DB72;
    font-weight: normal;
    border-radius: 20px;
    padding: 2px 15px 0px 15px;
    display: inline-block;
    color: #fff;
}

@media (max-width: 1220px) {
    #contents {
        width: 96%;
    }
}

@media (max-width: 800px) {
    #contents {
        width: 100%;
    }

    #header h1 {
        font-size: 18px;
        padding: 20px 10px 5px 16px;
    }

    #header strong {
        font-size: 14px;
        padding: 20px 10px 5px 16px;
    }

    #contents h2 {
        font-size: 40px;
        padding: 80px 0 40px 0;
    }

    .menu {
        margin: 16px 16px 0 16px;
    }

    .refer {
        background: transparent;
        border: 0;
        font-size: 14px;
        padding: 16px;
    }

    .refer .table table {
        min-width: 400px;
    }

    .refer .table table th {
        padding: 10px;
    }

    .refer .table table td {
        padding: 10px;
    }

    .doc {
        font-size: 16px;
    }

    .doc h3 {
        font-size: 20px;
    }

    .doc .code {
        margin-bottom: 8px;
    }
}

/* 간격 설정 */
.mt0 { margin-top: 0px !important; }
.mt5 { margin-top: 5px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mt25 { margin-top: 25px !important; }
.mt30 { margin-top: 30px !important; }
.mt35 { margin-top: 35px !important; }
.mt40 { margin-top: 40px !important; }
.mt45 { margin-top: 45px !important; }
.mt50 { margin-top: 50px !important; }
.mt55 { margin-top: 55px !important; }

.mb0 { margin-bottom: 0px !important; }
.mb5 { margin-bottom: 5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb25 { margin-bottom: 25px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb35 { margin-bottom: 35px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb45 { margin-bottom: 45px !important; }
.mb50 { margin-bottom: 50px !important; }
.mb55 { margin-bottom: 55px !important; }